.detail-section {
    width: 100vw;
    background-color: #FFECEE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }
  
  .detail-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 20px;
  }
  
  .detail-container.image-left {
    flex-direction: row-reverse; /* Зурган тал зүүнд байрлана */
  }
  
  .banner-img {
    width: 50%;
    height: auto;
    border-radius: 20px;
  }
  
  .details-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    gap: 10px;
  }
  
  .icon-img {
    width: 90px;
    height: 90px;
  }
  
  .details-right h4 {
    font-size: 24px;
    font-weight: bold;
    color: rgba(50, 69, 92, 1);
  }
  
  .details-right p {
    font-size: 16px;
    color: rgba(50, 69, 92, 0.8);
  }