.pre-card {
    width: 60%;
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .pre-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .pre-card-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .pre-card-title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
  }
  
  .pre-card-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .pre-card-detail {
    font-size: 16px;
    color: rgba(50, 69, 92, 1);
    background-color: rgba(240, 240, 240, 1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.2s ease-in-out;
  }
  
  .pre-card-detail:hover {
    background-color: rgba(255, 145, 60, 0.8);
    color: white;
  }